{% macro display_subject(subject) %}
{% if subject.edit_url %}
<a href="{{ subject.edit_url}}" class=editlink>[Edit subject]</a>
{% endif %}	
<dl>
	<dt>Name</dt>
	<dd><a href="{{ url_for('show_subject', id=subject.id) }}">{{ subject.name }}</a></dd>

	{% if subject.category_name %}
	<dt>Category</dt>
	<dd>{{ subject.category_name }}</dd>
	{% endif %}
	
	{% if subject.avg_rating %}
	<dt>Rating</dt>
	<dd><span class=starwidget value={{ subject.rounded_rating }}>({{ subject.avg_rating }})</span>
    </dd>
	{% endif %}
	
	<div class=spacer></div>
</dl>
{% endmacro %}