{% extends "layout.html" %}

{% block content %}
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}

<div class=explanation>
    Enter details about the entity that you're reviewing here. If the entity already exists, find it first here then add a review. Once you've completed this form, you'll be taken to a form to enter your review.
</div>
<div class=myform>
<form class=form action="{{ url_for('update_subject', id=subject.id) }}" method=POST>
    <label>Name
    <span class="small">Name of business</span>
    </label>
    <input type=text name="name" value="{{ subject.name }}"></input>

    <label for="category">Category 
    <span class="small">eg, Restaurant, Plumber</span>
    </label>
    <input id=category type=text name="category_name" value={{ subject.category_name }}></input>
    
    <input class=button type=submit value="Submit details"/>
    
    <div class="spacer"></div>
</form>
</div>

{% from "_subject_autocomplete.html" import autocomplete %}
{{ autocomplete() }}

{% endblock %}
