<!doctype html>
<html>
<head>
<title>Tip</title>
<link rel="stylesheet" href="{{ url_for('static', filename='stars.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='jquery-ui-1.8.14.custom.css') }}">
<script type="text/javascript" src="{{ url_for('.static', filename='jquery-1.5.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('.static', filename='jquery-ui-1.8.14.custom.min.js') }}"></script>
</head>

<body>
<div class=page>
<h1>tipster: share tips with friends</h1>
	
<div class=nav>
	<a href="{{ url_for('index') }}">home</a>
	<a href="{{ url_for('search') }}">search</a>
{% if not session.logged_in %}
    <a href="{{ url_for('login') }}">login</a>
    <a href="{{ url_for('new_user') }}">register</a>
{% else %}
<a href="{{ url_for('new_subject') }}">add entity</a>
<a href="{{ url_for('logout') }}">logout</a>
{% endif %}
</div>

{% for message in get_flashed_messages() %}
	<div class=flash>{{ message }}</div>
{% endfor %}

{% block body %}
{% block header %}
{% endblock %}

{% if error %}
<p class=error><strong>Error:</strong> {{ error }}
{% endif %}

{% block content %}

{% endblock %}

{% endblock %}

</div>

{% block footer %}
<div class=footer>
	All rights reserved. Copyright Daniel Jackson, 2011.
</div>
{% endblock %}

</body>
{% from "_widgets.html" import star_widget %}
{{ star_widget() }}
</html>
