{% extends "layout.html" %}

{% block content %}
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <div class=explanation>
        Enter your login details
    </div>
    <div class=myform>
    <form class=form action="{{ action_url }}" method=POST>
        <label>Email
        <span class="small">Your email address</span>
        </label>
        <input id=name_input type=text name="email"/>

        <label for="password">Password
        <span class="small"></span>
        </label>
        <input id=category_input type=password name="password"/>

        <input id=button class=button type=submit value="Submit"/>

        <div class="spacer"></div>
    </form>
    </div>

{% endblock %}
