{% extends "layout.html" %}

{% block content %}
<h2>Reviewing {{ subject.name }}</h2>

<div class=myform>
    <form class=form action="{{ url_for('create_review', id=subject.id) }}" method=POST>
        <label>Review
        <span class="small">Enter your review here</span>
        </label>
        <textarea cols=20 rows=5 name=content></textarea>
        <label>Rating
        <span class="small">One star is bad</span>
        </label>
        <input type=hidden name=rating class=starwidget value=0></input>        
        <div class = spacer></div>
        <input class=button type=submit value="Submit review"></input>
</form>
</div>
{% endblock %}