{% extends "layout.html" %}

{% block content %}

<div class=explanation>
    Enter details about the entity that you're reviewing here. If the entity already exists, find it first here then add a review. Once you've completed this form, you'll be taken to a form to enter your review.
</div>
<div class=myform>
<form class=form action="{{ url_for('create_subject') }}" method=POST>
    <label>Name
    <span class="small">Name of business</span>
    </label>
    <input id=name_input type=text name="name"/>

    <label for="category">Category
    <span class="small">eg, Restaurant, Plumber</span>
    </label>
    <input id=category_input type=text name="category_name"/>

    <input id=button class=button type=submit value="Submit"/>
    
    <div class="spacer"></div>
</form>
</div>

{% from "_subject_autocomplete.html" import autocomplete %}
{{ autocomplete() }}

{% endblock %}
