.board {
	width:180px;
}
.box {
	width: 50px;
	height: 50px;
	background-color: gray;
	margin: 1px;
	border-color: black;
	display: inline-block;
	color: white;
	font-size: 40px;
    font-family: Courier New,Courier,monospaced;
    font-weight: bold;
	vertical-align: bottom;
	text-align: center;
}

.outcome {
	font-size: 40px;
    font-family: Courier New,Courier,monospaced;
    font-weight: bold;
	vertical-align: bottom;
	color: red;	
}

.player1 {
	background-color: blue;
}

.player1:after {	
	content: "X";

}

.player2 {
	background-color: green;
}

.player2:after {
	content: "O";
	
}
