h1 {
  font-family: Arial,Verdana,sans-serif;
  text-align: center;
}
body {
  margin: auto auto;
  width: 960px;
  /*background-color: #439300;*/
  background-color: #64AA2B;
}
header {
  padding-top: 15px;
  padding-bottom: 15px;
}
.container_12 {
  margin-top: 15px;
  background-color: #A9F16C;

  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;

  box-shadow: 5px 5px 5px #292929;
  -moz-box-shadow: 5px 5px 5px #292929;
  -webkit-box-shadow: 5px 5px 5px #292929;
}
