/*
#whiteFieldset {
  position: relative;
  float: left;
}
#blackFieldset {
  position: relative;
  float: right;
}
button {
  position: relative;
  clear: both;
}
*/


body {
  margin: 0 auto;
  background-color: #FFFF33;
}
header, nav, article, footer, address {
  display:block;
}
header {
  margin: auto auto;
  width: 336px;
  text-align: center;
}

h1 {
  font-family: Arial,Verdana,sans-serif;
}

li {
  list-style-type: none;
}

section {
  position: relative;
  margin: auto auto;
  width: 336px;
}

table {
  position: relative;
  clear: both;
  border-collapse: collapse;
  box-shadow: 5px 5px 5px #888;
  -moz-box-shadow: 5px 5px 5px #888;
  -webkit-box-shadow: 5px 5px 5px #888;
}
.boardRow {
  clear: both;
}

.endOfRow {
  clear: both;
}
#othelloBoard {
  position: relative;
  clear: both;
  box-shadow: 5px 5px 5px #888;
  -moz-box-shadow: 5px 5px 5px #888;
  -webkit-box-shadow: 5px 5px 5px #888;
  width: 336px;
  margin-bottom: 15px;
}

#gameStatus {
  clear: both;
  padding-bottom: 15px;
}
.othelloBoardSquare {
  border: 1px solid #666666;
  border-style: solid;
  width: 40px;
  height: 40px;
  background-color: #009933;
  float: left;
}
td {
  border: 1px solid #666666;
  border-style: solid;
  width: 40px;
  height: 40px;
  background-color: #009933;
}
span {
  margin-left: auto;
  margin-right: auto;
}
.piece {
  display: block;
  width: 36px;
  height: 36px;

  border-radius: 18px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;

  box-shadow: 2px 2px 2px #000;
  -moz-box-shadow: 2px 2px 2px #000;
  -webkit-box-shadow: 2px 2px 2px #000;
}
.black-player {
  background-color: #000000;
}
.white-player {
  background-color: #FFFFFF;
}
.possible-move {
  display: block;
  width: 14px;
  height: 14px;
  margin: 13px;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;

  box-shadow: 1px 1px 1px #000;
  -moz-box-shadow: 1px 1px 1px #000;
  -webkit-box-shadow: 1px 1px 1px #000;
}
.possible-move:hover {
  width: 36px;
  height: 36px;
  margin:0px;

  border-radius: 18px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;

  box-shadow: 2px 2px 2px #000;
  -moz-box-shadow: 2px 2px 2px #000;
  -webkit-box-shadow: 2px 2px 2px #000;
  
  opacity: 0.5;
}
