table {
  border-collapse: collapse;
  box-shadow: 5px 5px 5px #888;
  -moz-box-shadow: 5px 5px 5px #888;
  -webkit-box-shadow: 5px 5px 5px #888;
}
td {
  border: 1px solid #666666;
  border-style: solid;
  width: 40px;
  height: 40px;
  background-color: #009933;
}
.piece {
  display: block;
  width: 36px;
  height: 36px;

  border-radius: 18px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;

  box-shadow: 2px 2px 2px #000;
  -moz-box-shadow: 2px 2px 2px #000;
  -webkit-box-shadow: 2px 2px 2px #000;
}
.black-player {
  background-color: #000000;
}
.white-player {
  background-color: #FFFFFF;
}
