{% extends layout.html %}
{% block title_content %}Register{% endblock %}
{% block body_content %}
  <form action="{{ url_for('register') }}" method="post">
    <label for="username">Username</label>
    <input type="text" name="username" value="username">

    <label for="password">Password</label>
    <input type="password" name="password" value="password">

    <label for="confirmPassword">Confirm Password</label>
    <input type="password" name="confirmPassword" value="confirmPassword">
  </form>
{% endblock %}
