{% extends "layout.html" %}
{% block title_content %}<title>Register</title>{% endblock %}
{% block body_content %}
  <header><h1> Register </h1></header>
  <section>
    <form action="" method="post">
      <ul>
        <li>
          <label for="username">Username</label>
        </li>
        <li>
          <input type="text" name="username" value="">
        </li>
        <li>
          <label for="password">Password</label>
        </li>
        <li>
          <input type="password" name="password" value="">
        </li>
        <li>
          <label for="confirmPassword">Confirm Password</label>
        </li>
        <li>
          <input type="password" name="confirmPassword" value="">
        </li>

        <li>
          <input type="submit" name="submit" value="Register and log in">
        </li>
      </ul>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flashedMessages"> 
            <li> Registration failed for the following reason(s): </li>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </form>
  </section>
{% endblock %}
