h1 {
  font-family: Arial,Verdana,sans-serif;
  text-align: center;
}
body {
  margin: auto auto;
  width: 960px;
  background-color: #64AA2B;
}
header {
  padding-top: 15px;
  padding-bottom: 15px;
}
input {
  margin-top: 5px;
  margin-bottom: 5px;
}
input[type="button"] {
  background-color: #439400;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}
input[type="text"] {
  background-color: #C0FF33;
}
input[type="password"] {
  background-color: #C0FF33;
}
ul {
  list-style-type: none;
}
li {
  /* remove the indentation */
  position: relative;
  right: 30px;
}
.container_12 {
  margin-top: 15px;
  background-color: #A9F16C;

  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;

  box-shadow: 5px 5px 5px #292929;
  -moz-box-shadow: 5px 5px 5px #292929;
  -webkit-box-shadow: 5px 5px 5px #292929;

  padding-bottom: 15px;
}
label {
  padding-left: 5px;
  padding-right: 5px;
}
h2 {
  padding-top: 15px;
  text-align: center;
}
#terminal {
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  margin-bottom: 15px;
}
