<!DOCTYPE html>
<html lang="en">
  {# Args:
    title - the title of the page, as a string.
    alt_text - the alt text
    src - the file name
    caption_data - a list of strings of data to be displayed
                   as a caption.
    back_href - the link to go back to the directory page.
  #}
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="stylesheet" type="text/css" href="gallery-style.css">
    <title>{{ title }}</title>
  </head>
  <body>
    <p><img alt="{{ alt_text }}" src="{{ src }}"></p>

    <ul> 
      {% for datum in caption_data %}
        <li>{{ datum }}</li>
      {% endfor %} 
    </ul>

    <a href="{{ back_href }}">Back to Directory</a>
  </body>
</html>
