* {
  margin: 0;
  padding: 0;
}

body {
  font-family: arial;
  font-size: 24px;
  margin-top: 10%;
  text-align: center;
}

input {
  border: 1px solid #ccc;
  font-size: 24px;
  padding: 5px;
}

input[type=text] {
  width: 300px;
}

#result {
  background-color: #eee;
  margin: 50px auto;
  text-align: center;
  width: 300px;
}
