/*
 * DNJ: star widget style sheet
 */
.star {
  overflow: hidden; /* crucial: this is what makes it work! */
  /* text-indent: -999em; */  /* used to hide text by moving off screen */
  float: left; /* without this, nothing displayed at all! */
}
.star {
  width: 16px;
  height: 15px;
  background: url(stars.gif) no-repeat 0 0;
}
.star-basic {
  background-position: 0 -32px;
}
.star-on {
  background-position: 0 -48px;
}
.star-hover {
  background-position: 0 -64px;
}
