body { font-family: verdana, tahoma, sans-serif; background: #eee; }
a, h1, h2 { color: maroon; }
h1 { text-align: center; font-size: 36px}
h2 { text-align: center; font-size: 16px; color: grey;}
.page { margin: 2em auto; width: 700px; padding: 1em; background: white; font-size: 14px;}
.nav { text-align: center; padding: 0.3em; margin-bottom: 1em; background: white; font-size:18px}
.flash { background: cornsilk; padding: 0.5em; }
.error { background: #980000; color: white; padding: 0.5em; }
.footer { font-size: 14px; color: gray; text-align: center; }
.error {}
.review {
        background-color: white;
        margin: 10px;
}
.by {
    font-style: italic;
}
.date {
    color: gray;
}
.explanation {
    color:gray;
    font-size:11px;
    font-weight:normal;
    text-align:center;    
}

.spacer{clear:both; height:1px;}

dd {
    float:left;
    width:600px;
    padding: 0px;
}
dt {
    font-style:italic;
    margin-left: 10px;
    display:block;
    color: gray;
    text-align:left;
    width:40px;
    float:left;
}

form .stars {
    /* when in form, is editable, so show cursor as pointer */
    cursor: pointer;
    float:left;
    padding:4px 2px;
    margin:2px 0 20px 10px;    
}

.myform{
margin:0 auto;
width:600px;
padding:14px;
}

form label {
display:block;
text-align:right;
width:150px;
float:left;
}

form .small{
display:block;
color:gray;
font-size:11px;
font-weight:normal;
text-align:right;
width:150px;
}
form input, form textarea {
float:left;
font-size:12px;
padding:4px 2px;
width:300px;
margin:2px 0 20px 10px;
}
form .button{
clear:both;
font-size:11px;
width: auto;
margin-left:200px;
}