<!doctype html>
<html>

<head>
    <title>network clock</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('.static', filename='clock.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('.static', filename='jquery-timers.js') }}"></script>

	<style>
	.clock {
		height: 100px;
		width: 300px;
		background-color: WhiteSmoke;
		color: black;
		font-size: 72px;
		text-align: center;
		padding: 10px;	
		cursor: pointer;	
		}
	.stale {
		color: gray;
	}
	</style>

	<script>
	var initialize = function () {
		var display = $("#clock");
		// attach event handlers used by clock to update display
		display.update = function (hours, mins, secs) {
			var format = function (num) {
				var str = num.toFixed(0);
				if (str.length == 1) return '0' + str;
				return str;
			}
			var time_str = format(hours) + ":" + format(mins) + ":" + format(secs);
			display.text(time_str);
		}
		display.showStale = function () {
			display.addClass("stale");
		};
		display.showCurrent = function () {
			display.removeClass("stale");
		};
		var active;
		// attach listener for click events:
		// toggles whether clock is active
		display.click (function () {
			if (active) {
				clock.stopRefresh();
				active = false;
			} else {
				clock.startRefresh();
				active = true;
			}
		});
		var TOLERANCE = 200;
		var clock = new NetworkClock(display,TOLERANCE);
		// display midnight as default time, and show as stale
		display.update(0,0,0);
		display.showStale();
		active = true;
		// initiate attempt to get time and display it
		clock.startRefresh();
	};
	$(initialize);	
	</script>
</head>

<body>
<div class="clock", id="clock">
	hello
</div>
</body>

</html>
