body {
  margin: 0 auto;
  background-color: #99FFFF;
}
header, nav, article, footer, address {
  display:block;
}
header {
  margin: auto auto;
  width: 550px;
  text-align: center;
}
h1 {
  font-family: Arial,Verdana,sans-serif;
}
section {
  font-family: "Times New Roman",Georgia,serif;
  /*position: relative; */
  margin: auto auto;
  width: 550px;
}
ul {
  list-style-type: none;
}
li {
  margin-bottom: 10px;
  padding-left: 130px;
}
textarea {
  width: 120px;
  height: 80px;
  border: 3px solid #CCCCCC;
}
.note {
  background-color: #FFFF33;
  width: 140px;
  height: 130px;

  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;

  box-shadow: 5px 5px 5px #888;
  -moz-box-shadow: 5px 5px 5px #888;
  -webkit-box-shadow: 5px 5px 5px #888;

  padding-top: 5px;
  padding-left: 5px;
}
.note > p {
  /* What I really want is to stick the buttons to the bottom of the note */
  /* This doesn't quite get there. */
  margin-bottom: 35px;
}
