@font-face {
    font-family: 'NotethisRegular';
    src: url('fonts/Note_this-webfont.eot');
    src: url('fonts/Note_this-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Note_this-webfont.woff') format('woff'),
         url('fonts/Note_this-webfont.ttf') format('truetype'),
         url('fonts/Note_this-webfont.svg#NotethisRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
  margin: 0 auto;
  background-color: #99FFFF;
}
header, nav, article, footer, address {
  display:block;
}
header {
  margin: auto auto;
  width: 550px;
  text-align: center;
}
h1 {
  font-family: Arial,Verdana,sans-serif;
}
section {
  font-family: Georgia,"Times New Roman",serif;
  margin: auto auto;
  width: 550px;
}
ul {
  list-style-type: none;
}
li {
  margin-bottom: 10px;
  padding-left: 130px;
}
input {
  font-family: Arial,Verdana,sans-serif;
  background: transparent url(forms/subfield.jpg)
}
textarea {
  font-family: NotethisRegular;
  background: transparent url(forms/msgfield.jpg);
  width: 120px;
  height: 80px;
  border: 3px solid #CCCCCC;
}
.button {
  /*background: #ACB4CB;*/
  background: #FAFAD2;
}
.note {
  font-family: NotethisRegular;
  background-color: #FFFF33;
  width: 140px;
  height: 130px;

  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;

  box-shadow: 5px 5px 5px #888;
  -moz-box-shadow: 5px 5px 5px #888;
  -webkit-box-shadow: 5px 5px 5px #888;

  padding-top: 5px;
  padding-left: 5px;
}
.note > p {
  /* What I really want is to stick the buttons to the bottom of the note */
  /* This doesn't quite get there. */
  margin-bottom: 35px;
}
